/ ゲームスタートボタンなので後日リンクの修正必要
%h1.page_title
  DashBoard

%div.center
  = image_tag('nekologo.png')
  %h1 NMG
  %h2 Nekojarashi Management Game
  %a.btn(href="http://example.com" title="title")
    GameStart