%header 
  %h1 Dash Board

  %p= link_to Country, '/countries#index'
  %span.glyphicon.glyphicon-user

%button START

%footer
  %div 
    =link_to 'Log Out...', '/users/sign_out', :data => { :method => 'delete', :confirm => 'Log Out From Here ??' }