<<<<<<< HEAD
%header 
  %h1 Dash Board
  %div
    =link_to 'Sign Out', { :controller => 'dashboard', :action => 'sign_out' }, :data => { :method => 'delete', :confirm => 'Do you Sign Out ??'}
    / =link_to 'Log Out...', '/log_out', :data => { :method => 'get', :confirm => 'Log Out From Here ??' }
  %p= link_to Country, '/countries#index'
  %button= link_to 'My Page','/mypage#index'
=======
/ %nav.navbar.navbar-fixed-top
/   %div.navbar-inner
/     %div.container
/       %h1.nav.navbar-nav.pull-left.page_title DashBoard
>>>>>>> refs/heads/master


%div.center
  = image_tag('nekologo.png')
  %h1 NMG
  %h2 Nekojarashi Management Game
  %a.btn(href="http://localhost:3000" title="title")
    GameStart
