%header.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      .status-container
        %span.turn.description
          n期目
        %span.base-country.description
          本社 n国
      %nav
        %ul.nav.pull-right
          %li.header-link
            = link_to "決算シート", "#"
