!!!
%head
  %title NMG
  = stylesheet_link_tag "application", media: "all"
  =javascript_include_tag "application"
  =csrf_meta_tags



%body
  %header.navbar.navbar-fixed-top.navbar-inverse
    %div.navbar-inner
      %div.container
        / %a.sample(href= root_path)
        /   = image_tag('nekologo.png')
        %nav
          %h1.nav.navbar-nav.pull-left
            %a(href= root_path) NMG
          %ul.nav.navbar-nav.pull-right
            %li
              %a(href= mypage_show_data_path) Mypage
            %li
              =link_to 'Sign Out', 'users/sign_out', :data => { :method => 'delete', :confirm => 'Do you Sign Out ??'}
  / %nav.navbar.navbar-default.navbar-fixed-top{role: "navigation"}
  /   .container-fluid
  /     / Brand and toggle get grouped for better mobile display
  /     .navbar-header
  /       %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
  /         %span.sr-only Toggle navigation
  /         %span.icon-bar
  /         %span.icon-bar
  /         %span.icon-bar
  /       %a.navbar-brand{href: "#"} Brand
  /     / Collect the nav links, forms, and other content for toggling
  /     #bs-example-navbar-collapse-1.collapse.navbar-collapse
  /       %ul.nav.navbar-nav
  /         %li.active
  /           %a{href: "#"} Link
  /         %li
  /           %a{href: "#"} Link
  /         %li.dropdown
  /           %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
  /             Dropdown
  /             %b.caret
  /           %ul.dropdown-menu
  /             %li
  /               %a{href: "#"} Action
  /             %li
  /               %a{href: "#"} Another action
  /             %li
  /               %a{href: "#"} Something else here
  /             %li.divider
  /             %li
  /               %a{href: "#"} Separated link
  /             %li.divider
  /             %li
  /               %a{href: "#"} One more separated link
  /       %form.navbar-form.navbar-left{role: "search"}
  /         .form-group
  /           %input.form-control{placeholder: "Search", type: "text"}/
  /         %button.btn.btn-default{type: "submit"} Submit
  /       %ul.nav.navbar-nav.navbar-right
  /         %li
  /           %a{href: "#"} Link
  /         %li.dropdown
  /           %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
  /             Dropdown
  /             %b.caret
  /           %ul.dropdown-menu
  /             %li
  /               %a{href: "#"} Action
  /             %li
  /               %a{href: "#"} Another action
  /             %li
  /               %a{href: "#"} Something else here
  /             %li.divider
  /             %li
  /               %a{href: "#"} Separated link
  /     / /.navbar-collapse
  /   / /.container-fluid
  =yield
